.abt_main{
  background-color: rgb(20, 19, 19);
  width: 100%;
}
#about-us-container {
    height: 930px;
    width: 1515px;
    position: relative;
    z-index: 2;
   background-color: rgb(243, 245, 247);
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: -370px;
  }
  
  .about-us-content {
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 2;
  }
  
  .about-us-heading {
    text-align: center;
    text-decoration: underline;
  }
  p {
    font-size: 20px;
    line-height: 1.0;

  }
  .highlight {
    font-weight: bold;
    color: #007bff; 
  }